.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 80px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
nav {
  height: 90px;
  border-bottom: black solid 1px;
  margin: 0px 0px;
  background-color: #fff;
}
.logo-text {
  padding-top: 2px;
  color: #2F3D46;
}
.nav-item {
  font-size: 20px;
  font-weight: 600;
  color: #2f3d46;
  margin: 0px 10px;
  transition: 0.2s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  border-radius: 2px;
  background-color: #2f3d46;
  bottom: 0;
  left: 8px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.nav-item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-item:active::before {
  background-color: #246c44dc;
}
.nav-item:active {
  color: #246c44dc;
}
.login-button {
  line-height: 35px;
  border-radius: 10px;
  padding: 3px 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.sign-in {
  border: #2f3d46 2px solid;
  color: #2f3d46;
  text-decoration: none;
  transition: 0.3s;
}
.sign-in:hover {
  border-radius: 30px;
  border: #246c44dc 2px solid;
  background-color: #246c44dc;
  color: #fff;
}
.sign-in:active {
  color: #2f3d46;
}
.sign-up {
  border: #2f3d46 solid 2px;
  background: #2f3d46;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.sign-up:hover {
  border-radius: 30px;
  border: #246c44dc 2px solid;
  background-color: #fff;
  color: #246c44dc;
}
.sign-up:active {
  background-color: #2f3d46;
}

@media (max-width: 1440px) {
  .navbar-brand {
    font-size: 25px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  nav {
    margin: 0px 0px;
  }
  .nav-item {
    font-size: 15px;
    margin: 0px 0px;
    padding: 2px;
  }
  .nav-item::before {
    height: 1px;
    width: 85%;
  }
  .login-button {
    line-height: 15px;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 500;
  }
  .sign-up {
    margin-left: 10px;
  }
  .sign-in:hover {
    border-radius: 20px;
  }
  .sign-up:hover {
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .navbar-brand {
    font-size: 20px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  nav {
    margin: 0px 0px;
  }
  .nav-item {
    font-size: 13px;
    margin: 0px 0px;
    padding: 2px;
  }
  .nav-item::before {
    height: 1px;
  }
  .login-button {
    /* background-color: red; */
    padding: 0px 15px;
    font-size: 12px;
    font-weight: 500;
  }
  .sign-up {
    margin-left: 10px;
  }
  .sign-in:hover {
    border-radius: 20px;
  }
  .sign-up:hover {
    border-radius: 20px;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    line-height: 60px;
    font-size: 30px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  nav {
    height: 90px;
    border-bottom: black solid 1px;
    margin: 0px 0px;
  }
  #offcanvasNavbar {
    padding-top: 10px;
    width: 50%;
  }
  .offcanvas-title {
    font-size: 25px;
    font-weight: 700;
  }
  .nav-item {
    font-size: 18px;
    margin: 0px 0px;
    padding: 0px;
  }
  .nav-item::before {
    height: 1px;
    width: 50%;
    left: 25%;
  }
  .login-button {
    line-height: 25px;
    border-radius: 10px;
    padding: 6px 20px;
    font-size: 15px;
    font-weight: 600;
    width: 180px;
  }
  .sign-in {
    margin: 40px auto 15px auto;
  }
  .sign-up {
    margin-left: 0px;
    margin: 0px auto;
  }
}
@media (max-width: 425px) {
  .navbar-brand {
    line-height: 60px;
    font-size: 25px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  #offcanvasNavbar {
    padding-top: 10px;
    width: 70%;
  }
  .offcanvas-title {
    font-size: 25px;
    font-weight: 700;
  }
  .nav-item {
    font-size: 18px;
    margin: 0px 0px;
    padding: 0px;
  }
  .nav-item::before {
    height: 1px;
    width: 50%;
    left: 25%;
  }
  .login-button {
    line-height: 25px;
    border-radius: 10px;
    padding: 6px 20px;
    font-size: 15px;
    font-weight: 600;
    width: 180px;
  }
  .sign-in {
    margin: 40px auto 15px auto;
  }
  .sign-up {
    margin-left: 0px;
    margin: 0px auto;
  }
}


.margined{
  margin-top: 100px;
}

.wrapper{
  width: 100%;
}

.center-flexed{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexed{
  display: flex;
}
/* CARD */
.component-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border-radius: 14px;
  background-color: #f7fbfa;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #517970;
  box-sizing: border-box;
}

.component-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  height: 362px;
  width: 428px;
  flex-direction: column;
  justify-content: center;
  padding: 0 9px 0 0;
  box-sizing: border-box;
  position: relative;
  min-width: 428px;
}
.component {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 124px 22px 125px;
  position: relative;
  font-size: 16px;
}
.div10,
.div11,
.div12 {
  position: relative;
  display: none;
  height: 50.9px;
  flex-shrink: 0;
}
.div10 {
  width: 195.2px;
  font-size: 20px;
  z-index: 3;
}
.div11,
.div12 {
  width: 93.7px;
  z-index: 4;
}
.div12 {
  z-index: 5;
}
.icon-calendar,
.icon-location-pin {
  height: 58.8px;
  width: 17.9px;
  position: relative;
  display: none;
  z-index: 6;
}
.icon-calendar {
  height: 60.4px;
  width: 27px;
  z-index: 7;
}
.div13 {
  width: 280px;
  height: 41px;
  position: absolute;
  margin: 0 !important;
  top: 61px;
  right: 0;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.p4 {
  margin: 0;
}
.div14 {
  width: 280px;
  height: 41px;
  position: absolute;
  margin: 0 !important;
  right: 58px;
  bottom: 98px;
  display: inline-block;
  z-index: 2;
}
.p5 {
  margin: 0;
}
.div15,
.organization-frame {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.div15 {
  width: 280px;
  height: 41px;
  right: 58px;
  bottom: 33px;
  display: inline-block;
}
.organization-frame {
  width: 89px;
  height: 89px;
  top: 32px;
  left: 40px;
  border-radius: 4px;
  background-color: #a2b18a;
  /* HERE PLACE BG IMAGE */
}
.facebook-1-media-facebook-soc-icon,
.instagram-icon2,
.twitter-media-twitter-social-icon1 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 148px;
  left: 40px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.instagram-icon2,
.twitter-media-twitter-social-icon1 {
  width: 33px;
  height: 33px;
  top: 147px;
  left: 85px;
}
.twitter-media-twitter-social-icon1 {
  width: 35px;
  height: 35px;
  top: 145px;
  left: 133px;
}
.location-pin-3-navigation-map-icon,
.map-fold-navigation-map-maps-icon {
  width: 33px;
  height: 33px;
  position: absolute;
  margin: 0 !important;
  bottom: 114px;
  left: 40px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.location-pin-3-navigation-map-icon {
  bottom: 49px;
  left: 41px;
}
/* CARD END */

.heading{
  font-size: 65px;
  font-weight: 900  ;
}

.date{
  width: 541px;
  height: 53px;
  font-size: 28px;
  font-weight: 500;
  color: #8b8b8b;
  max-width: 100%;
}

.volunteerings{
  margin-top: 10px;
  margin-bottom: 20px;
}

.volunteerings-row{
  display: flex;
  padding: 2px;
  margin: 5px;
}

.volunteering-item{
  background-color: #ADC179;
  margin: 2px;
  margin-right: 25px;
  padding: 6px;
  color: #f7fbfa;
  border-radius: 5px;
}
.description-heading{
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.description-text{
  margin-top: 20px;
  font-size: 17px;
}

.locations{
  margin-top: 20px;
}

.locations-text{
  font-size: 30px;
}

.locations-row{
  display: flex;
}

.location-item{
  font-size: 25px;
  margin: 15px 50px 15px 0px;
  max-width: 148.66px;
}

/* BUTTON */

.organizers-text {
  cursor: pointer;
  border: 0;
  padding: 10px 20px 11px 23px;
  background-color: #517970;
  width: 386px;
  border-radius: 53px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  transition: 0.3s;
}

.button-wrapper {
  width: 188px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}


.organizers-text:hover{
  background-color: #ADC179;
  transition: 0.3s;
}

.div5 {
  width: 276px;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  z-index: 1;
}

.minimize-window-2-expand-retr-icon {
  height: 33px;
  width: 33px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}

.request{
  text-decoration: none;
  color: #f7fbfa;
}
/* BUTTON END */

.share-text-holder{
  margin-top: 25px;
}

.share-text{
  font-size: calc(1.375rem + 1.5vw);
}

.share-row{
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  gap: 15px;
}

.share-row-item{
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 2px;
  text-decoration: none;
  color: #517970;
}

.inst-text, .tg-text, .twitter-text{
  color: #517970;
}


.organizator-text{
  font-size: calc(1.375rem + 1.5vw);
}

.organizator-card{
  margin-top: 30px;
}

.footer{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.motto{
  color: #686A6C;
  font-size: 25px;
}

.name{
  font-weight: 700;
  font-size: 35px;
}
